<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mercadona</title>
</head>
<body>
    {% include 'products/navbar.html' %}

    <h3>Enregistrer un produit</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enregistrer</button>
        </form>
    <br />
    <h3>Liste des produits</h3>
    <table border ='1' width="50%" style="border-collapse:collapse;">
        <thead>
        <th>Catéguories</th> <th>Produits</th> <th>Descriptions</th> <th>Prix TTC avant remise</th> <th>Photos</th>
        </thead>
    <tbody>
        {% for p in data %}
            <tr>
                <td>{{ p.category }}</td>
                <td>{{ p.product_title }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price }}</td>
                <td><img src = "/media/{{ p.image }}" width = "96" height = "86"></td>
            </tr>
        {% endfor %}
    </tbody></table>


</body>
</html>





























